.main-header {
  background: #0080c2;
  height: 70vh;
  width: 100%;
}

.top-links {
  display: flex;
  padding: 30px 5%;
  justify-content: flex-end;
  position: relative;
  align-items: center;
}

.top-links li {
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
}

.top-links li:first-child {
  font-size: 2.5rem;
  position: absolute;
  left: 30px;
}

.header-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 90%;
  height: 85%;
}

.header-image {
  background: url('../img/header logo.png') center no-repeat;
  background-size: contain;
  height: 100%;
  width: 100;
}

.header-text {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
}

.header-down-arrow {
  margin: auto;
  height: 0;
  width: 0;
  border-top: 25px solid #0080c2;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;

}


/*---Projects---*/

section {
  width: 80%;
  margin: 50px auto;
}

.projects h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.projects p {
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}


/*---About Me---*/

.about-me {
  text-align: center;
}

.about-me p {
  width: 70%;
  margin: 20px auto 0 auto;
  font-size: 1.5rem;
}

/*---Views---*/

.shopper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.shopper:nth-child(even) > .browser {
  order: 1;
  margin-left: 50px;
}

.browser {
  max-width: 720;
  max-height: 500;
  border: 1px solid black;
  border-radius: 5px;
}

.top-browser {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.browser-buttons {
  display: flex;
}

.browser-buttons li {
  background: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.browser-buttons li:nth-child(2) {
  background: yellow;
}

.browser-buttons li:nth-child(3) {
  background: green;
}


.browser-url {
  margin-left: 10px;
  height: 30px;
  width: 580px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.browser-content {
  height: 460px;
  width: 100%;
  overflow: auto;
}

.browser-content img {
  width: 100%;
  border-radius: 5px;
}


/*---Mobile---*/

.mobile-view {
  height: 500px;
  width: 260px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.mobile-screen {
  width: 230px;
  height: 370px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
}


.shopper-info {
  margin-left: 80px;
}

.projects button {
  border: none;
  padding: 20px 50px;
  background: black;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  border: 1px solid black;
}

.projects button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

footer {
  background: black;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h6 {
  color: white;
}
